<extend name="Layout/ins_page" />
<block name="content">
	{:W('PageHeader/simple',array($vo['name']))}
	<div class="operate panel panel-default hidden-print">
		<div class="panel-body">
			<div class="pull-left">
				<a onclick="go_return_url();" class="btn btn-sm btn-primary">返回</a>
				<a onclick="popup_confirm();" class="btn btn-sm btn-primary">选择签收者</a>
				<a href="#recieve_status"  class="btn btn-sm btn-primary">签收情况</a>
			</div>
			<div class="pull-right">
				<a onclick="winprint();" class="btn btn-sm btn-primary hidden-xs">打印</a>
				<a onclick="save();" class="btn btn-sm btn-primary">发送</a>

			</div>
		</div>
	</div>

	<form method='post' id="form_data" name="form_data" enctype="multipart/form-data"  class="well form-horizontal">
		<input type="hidden" id="ajax" name="ajax" value="0">
		<input type="hidden" id="opmode" name="opmode" value="edit">

		<input type="hidden" id="id" name="id" value="{$vo.id}">
		<input type="hidden" id="name" name="name" value="{$vo.name}">
		<input type="hidden" id="type_name" name="type_name" value="{$vo.type_name}">
		<input type="hidden" id="doc_no" name="doc_no" value="{$vo.doc_no}">
		<input type="hidden" id="content" name="content" value="{$vo.content}">
		<input type="hidden" id="scope_user_id" name="scope_user_id" value="">
		<input type="hidden" id="scope_user_name" name="scope_user_name" value="">

		<div class="form-group">
			<label class="col-sm-2 control-label" for="name">标题：</label>
			<div class="col-sm-10">
				<p class="form-control-static">
					{$vo.name}
				</p>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" >类别：</label>
			<div class="col-sm-10">
				<p class="form-control-static">
					{$vo.type_name}
				</p>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" >文件编号：</label>
			<div class="col-sm-10">
				<p class="form-control-static">
					{$vo.doc_no}
				</p>
			</div>
		</div>
		<div class="form-group col-sm-6">
			<label class="col-sm-4 control-label" for="location">重要性：</label>
			<div class="col-sm-8">
				<p class="form-control-static">
					<if condition="($vo.important eq '0') OR ($vo.important eq '1')">
						<span id="important" style="color: #00008B">一般</span>
					<elseif condition="($vo.important eq '2') OR ($vo.important eq '3')"/>
						<span id="important" style="color: #FF8C00">重要</span>
					<elseif condition="($vo.important eq '4') OR ($vo.important eq '5')"/>
						<span id="important" style="color: #FF0000">非常重要</span>
					</if>
				</p>
			</div>
		</div>

		<div class="form-group col-sm-6">
			<label class="col-sm-4 control-label" for="location">优先级：</label>
			<div class="col-sm-8">
				<p class="form-control-static">
					<if condition="($vo.urge eq '0') OR ($vo.urge eq '1')">
						<span id="urge" style="color: #00008B">一般</span>
					<elseif condition="($vo.urge eq '2') OR ($vo.urge eq '3')"/>
						<span id="urge" style="color: #FF8C00">急</span>
					<elseif condition="($vo.urge eq '4') OR ($vo.urge eq '5')"/>
						<span id="urge" style="color: #FF0000">特急</span>
					</if>
				</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">已接收者：</label>
			<div class="col-sm-10">
				<p class="form-control-static">
					{$vo.scope_user_name||show_contact="read"}
				</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="location">新接收者：</label>
			<div class="col-sm-10">
				<a class="pull-right btn btn-link text-center" onclick="popup_confirm();"><i class="fa fa-user"></i> </a>
				<div id="actor_wrap" class="inputbox">
					<div class="wrap" >
						<span class="address_list"></span>
						<span class="text" >
							<input class="letter" type="text"  >
						</span>
					</div>
				</div>
			</div>
			<label class="col-sm-2 control-label" for="location" id='my_label' style="display: ;"> </label>  <!-- fake lable -->
			<div class="col-sm-10">
				<div class="ppap" id="ppp"> 
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" >意见：</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" id="advice" name="advice">
			</div>
		</div>
		<div class="form-group col-sm-6">
			<label class="col-sm-4 control-label" >创建日期：</label>
			<div class="col-sm-8">
				<p class="form-control-static">
					{$vo.create_time|to_date='Y-m-d H:i'}
				</p>
			</div>
		</div>

		<div class="form-group  col-sm-6">
			<label class="col-sm-4 control-label" >编写人：</label>
			<div class="col-sm-8">
				<p class="form-control-static">
					{$vo.user_name}
				</p>
			</div>
		</div>

		<div class="form-group  col-sm-6">
			<label class="col-sm-4 control-label" >部门：</label>
			<div class="col-sm-8">
				<p class="form-control-static">
					{$vo.dept_name}
				</p>
			</div>
		</div>
		

		<div class="form-group">
			<div class="col-xs-12">
				<div class="content_wrap">
					<iframe class="content_iframe"></iframe>
					<textarea class="content hidden"  name="content" style="width:100%;height:300px;" >{$vo.content}</textarea>
				</div>
			</div>
		</div>
		<notempty name="vo.add_file">
			<div class="form-group">
				<label class="col-sm-2 control-label" >附件：</label>
				<div class="col-sm-10">
					{:W('FileUpload/view',array('add_file'=>$vo['add_file']))}
				</div>
			</div>
		</notempty>
		<div class="clearfix"></div>
	</form>
	<eq name="is_read" value="0">
		{:W('PageHeader/simple',array('name'=>'回复','search'=>'N'))}
		<form method="post" action="" name="form_confirm" id="form_confirm">
			<input type="hidden" name="confirm_id" value="{$confirm_id}">

			<div class="operate panel panel-default">
			
			
				<div class="form-group panel-body">
					<div class="col-sm-12">
						<textarea name="comment" class="col-xs-12" style="height:120px"></textarea>
					</div>
				</div>
				<div class="panel-heading clearfix">
					<div class="pull-right">
						<a onclick="approve();" class="btn btn-sm btn-primary">签收</a>
						|
						<a onclick="reject();" class="btn btn-sm btn-danger">拒收</a>
					</div>
				</div>
			</div>
		</form>
	</eq>
		
	<a id="recieve_status"></a>
	{:W('PageHeader/simple',array('name'=>'签收情况','search'=>'N'))}

	<div class="ul_table ul_table_responsive">
		<ul>
			<li class="thead">
				<div class="pull-left">
					<span class="col-9">发起人</span>
					<span class="col-12">发起日期</span>
				</div>
				<div class="pull-right">
					<span class="col-9">签收人</span>
					<span class="col-12">签收日期</span>
					<span class="col-36">回复</span>
					<span class="col-9">结果</span>
				</div>

				<div class="autocut auto">
					意见
				</div>
			</li>
		</ul>
		<empty name="list">
			<ul>
				<li class="no-data">
					没找到数据
				</li>
			</ul>
			<else/>
			<ul>
				<volist name="list" id="item">
					<li class="tbody">
						<span class="col-9">{$item.from_user_name}</span>
						<span class="col-12">{$item.recieve_create_time|to_date='Y-m-d H:i'}</span>
						<div class="pull-right">
							<span class="col-9">{$item.recieve_user_name}</span>
							<span class="col-12">
								<empty name="item.recieve_update_time">
									&nbsp;
									<else/>
									{$item.recieve_update_time|to_date='Y-m-d H:i'}
								</empty>
							</span>
							<span class="col-36">
								<empty name="item.comment">
									&nbsp;
									<else/>
									{$item.comment}
								</empty>
							</span>

							<span class="col-9">
								<if condition="$item.is_read eq 0">
									<span style="color: #FF0000">未签收</span>
								<elseif condition="$item.recieve_is_del eq 0"/>
									<span style="color: #00FF00">已签收</span>
								<else/>
									<span style="color: #0000FF">已拒收</span>
								</if>
							</span>
						</div>
						<span class="auto">
							<div style="overflow:hidden">
								{$item.advice}
							</div>
						</span>
					</li>
				</volist>
			</ul>
			<div class="pagination">
				{$page}
			</div>
		</empty>
	</div>
	

</block>
<block name="js">
	<script type="text/javascript">

		function approve() {
			sendForm("form_confirm", "{:U('approve')}", "{:U('read','id='.$vo['id'])}");
		}

		function reject() {
			sendForm("form_confirm", "{:U('reject')}", "{:U('read','id='.$vo['id'])}");
		}

		function save() {
			$("#scope_user_name").val("{$vo.scope_user_name}");
			$("#actor_wrap span.address_list span").each(function() {
				$("#scope_user_name").val($("#scope_user_name").val() + $(this).text().replace(';', '') + '|' + $(this).attr("data") + ";");
			});

			$("#scope_user_id").val("{$vo.scope_user_id}");
			$("#actor_wrap span.address_list span").each(function() {
				$("#scope_user_id").val($("#scope_user_id").val() + $(this).attr("data") + ",");
			});

			sendForm("form_data", "{:U('save')}", "{:U('index')}");
            var t=3;
			var int=setInterval(function(){
				t--;
				if(t==0){
					$("#post").html("提交")
					$("#post").attr("onclick","save(0)");
					 clearInterval(int);
	
				}else{
				  $("#post").attr("onclick","javascript:alert('不能重复提交！')");
				  $("#post").html("重新提交("+t+")")	
				}
			},1000)
		}

		function popup_confirm() {
			winopen("{:U('popup/scope')}", 560, 470);
		}

		$(document).on("click", ".inputbox .address_list a.del", function() {
			$(this).parent().parent().remove();
		});

		
		$(document).ready(function() {
			show_content();

			//$("#important").css("background-color", schedule_bg({$vo.important}));
			//$("#urge").css("background-color", schedule_bg({$vo.urge}));

			var users = '{$userlist}';
			users = JSON.parse(users);
			name_select(users);

		});

		
	</script>
</block>