<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wechat H5 Boilerplate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Add your keywords and description here for SEO. -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="/Public/Show/images/favicon.png"/>

    <!-- Uncomment this if you need apple touch icon. -->
    <!--
    <link rel="apple-touch-icon" href="touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png">
    -->

    <!-- Don't delete this. It's needed for development workflow. -->
    <link rel="stylesheet" href="/Public/Show/stylesheets/bundle.min.css">
</head>

<body>
<div class="loading-overlay">
    <img src="/Public/Show/images/loading.svg">
</div>

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide slide-1">
            <div class="item-image animated" data-ani-name="slideInLeft" data-ani-duration="1s" data-ani-delay="0s"></div>
            <p class="item-text1 animated" data-ani-name="slideInRight" data-ani-duration="1s" data-ani-delay="0.3s">石河子国家高新区简介</p>
            <p class="item-text2 animated" data-ani-name="slideInRight" data-ani-duration="1s" data-ani-delay="0.6s">石河子国家高新区位于石河子市南侧，北依G30连霍高速和第二条亚欧大陆桥铁路（新疆境内称为北疆铁路）。2013年12月20日，国务院批准新疆生产建设兵团石河子高新技术产业开发区升级为国家级高新区，实现了兵团国家级高新区零的突破，为兵团的高新技术产业和战略性新兴产业发展注入强大的动力。</p>
        </div>
        <div class="swiper-slide slide-2">
            <div class="item-image animated" data-ani-name="bounceInDown" data-ani-duration="1s" data-ani-delay="0s"></div> 
            <p class="item-text1 animated" data-ani-name="bounceInUp" data-ani-duration="1s" data-ani-delay="0.3s">石河子国家高新技术产业开发区</p>
            <p class="item-text2 animated" data-ani-name="bounceInUp" data-ani-duration="1s" data-ani-delay="0.6s">石河子国家高新区总规划面积137平方公里，规划建设面积44.43平方公里，是全国高新区序列内的唯一一家具有兵团属性的高新区。按照兵团党委和师市党委的决策部署，石河子国家高新区致力于发展高科技，实现产业化，建成为丝绸之路经济带上的创新高低和科技新城。</p>
        </div>
        <div class="swiper-slide slide-3">
            <div class="item-text1 animated" data-ani-name="flipInX" data-ani-duration="1s" data-ani-delay="0s">石河子国家高新区抢抓中央建设丝绸之路经济带的战略机遇，以培育创新创业生态，引领新兴经济增长点为主线，重点实施构建产业生态、创新生态、空间生态、开放生态四大战略任务，探索“大众创业、开放式创新、平台经济、借力发展、科技招商”五大行动路径，全力打造成为支撑全兵团转型跨越的战略支点，引领示范全兵团创新发展，将高新区建设成为丝绸之路经济带的创新高地。</div>
            <p class="item-text2 animated" data-ani-name="flipInY" data-ani-duration="1s" data-ani-delay="0.3s">石河子高新区将全力打造以信息技术及互联网为引擎主导，以生命健康、节能环保、通用航空为战略支撑，以现代服务业为重要保障的“131”新兴产业体系。一大战略引擎为信息技术及互联网服务，其中包括：云计算、电子商务、信息安全和软件服务、工业物联网（互联网+工业）、农业物联网（互联网+农业）；三大战略支撑为生命健康（包括葡萄酒产业、医疗健康、养老养生、生物科技）、节能环保（包括节能环保材料、节能设备、水处理、大气综合治理、节能环保服务）、通用航空（包括通航运营、通航综合保障服务、通航制造、航空物流）；一大服务保障为现代服务业，主要包括科技服务业、高端商务、商贸休闲、教育培训、文化创意等。</p>
        </div>
    </div>
</div>

<button class="up-arrow">
    <i class="icon-angle-double-up"></i>
</button>



<!-- Don't delete this. It's needed for development workflow. -->
<script src="/Public/Show/javascripts/bundle.min.js"></script>

</body>

</html>
